:root {
    --primary-color: rgba(255, 255, 255, 0.3);
    --secondary-color: #000;
    --darkgray-color: #333;
    --lightgray-color: #f0f0f0;
    --dark-box-color: #212124;
    --font-family-default: "Poppins", sans-serif;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url("assets/images/greek-wallpaper.jpg") fixed center;
    backdrop-filter: blur(5px);
}

section {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav a {
    color: var(--darkgray-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
}

.nav-links a:hover {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 15px;
}

.social-icons a {
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.5);
}

nav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
    #kusal-logo{
        position: absolute;
        top: 20%;
    }
    #kusal-short{
        position: absolute;
        top: 26%;
    }
    p ,li ,a{
        font-size: 13px;
    }
    nav {
        display: none;
    }
    h1{
        display: none;
    }
    .toggle-button{

    }
}
.box-container-hero{
    display: grid;
    /*grid-template-rows: repeat(auto-fit, minmax(1000px, 1fr));*/
    gap: 15px;
}
/*#home {
    height: 100vh;
    position: relative;
}
#home > picture {
    position: absolute;
}
#home > div {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
}

#home > div > img {
    width: 100px;
    height: 100px;
}

#home > div > h1 {
    font-size: 8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

#home > div > h3 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}*/
.box-container-hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    gap: 15px;

    align-items: center;
}
.box-hero{
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
}
.box-hero>h1{
    font-style: var(--font-family-default);
    font-weight: bold;
    font-size: 100px;
}
.toggle-button{
    position: fixed;
    right: -4%;
    top: 20px;

    width: 100px;
    aspect-ratio: 1/1;
    z-index: 5;
}


@media screen and (max-width: 600px) {
    #home > div > h1 {
        font-size: 4rem;
    }
    #home > div > h3 {
        font-size: 1.5rem;
    }
    #home > div > img {
        width: 70px;
        height: 70px;
    }

}

/* About Me Section Styles */
#about {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 40px 0 40px 0;
}

#about-me {
    margin: 0 auto 20px auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
}

.about-container-gallery-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.about-container-gallery-targets > div {
    border-radius: 15px;
    width: 45%;
    margin: 0 2.5%;
}

@media (max-width: 1024px) {
    .about-container-gallery-targets {
        flex-direction: column;
        align-items: center;
    }
    .about-container-gallery-targets > div {
        width: 100%;
        margin: 0 auto 20px auto;
    }
    #targets > img {
        width: 80px;
        height: 80px;
    }
}
#targets {
    list-style-type: none;
    padding: 10px;
}

#targets > img {
    width: 100%;
    height: auto;
}

#targets > button {
    width: 100%;
    height: 35px;
    background-color: blue;
    color: var(--primary-color);
    border-radius: 15px;
    border-color: blue;
    margin-top: 20px;
}

.about-container > div {
    margin-bottom: 20px;
}

.about-container > div:last-child {
    margin-bottom: 0;
}

/* Animation */
.about-container-gallery-targets > div:hover {
    transform: scale(0.99);
    transition: transform 0.3s ease-in-out;
}

#education{
    height: auto;
    padding: 100px 9%;
    font-family: "Poppins", sans-serif;
}
.box-container-education{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.box-education{
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary-color);
    text-align: center;
    justify-items: center;
}

#skills{
    height: auto;
    padding: 70px 9%;
   /* padding-bottom: 50px;*/
    font-family: "Poppins", sans-serif;
}
#skills .box-container-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.box-skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    padding: 0;
    background-color: var(--primary-color);
}
.sub-box-skills {
    padding: 10px;
    text-align: center;
}
.sub-box-skills img {
    width: 100px;
    height: auto;
}
@media screen and (max-width: 1560px){
    .box-skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        padding: 0;
    }
    .sub-box-skills img {
        width: 50px;
        height: auto;
    }
}


/*certificate section*/
#certifications{
    height: auto;
    padding: 20px 9%;
    font-family: "Poppins", sans-serif;
}
.box-container>h2{
    text-align: center;
    padding-bottom: 15px;;
}
.box-container-certificate{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}
.box-container-certificate>div{
    background: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box>img:hover{
    transform: scale(1.30);
    transition: transform 0.3s ease-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.box-container>div:hover{
    transform: scale(0.99);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
/*assignment section*/

#assignments{
    height: auto;
    padding: 70px 9%;
    padding-bottom: 10%;
    font-family: "Poppins", sans-serif;
}
.box-container-assignments{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.box-container-assignments>div{
    background:var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box-container-assignments>div>a{
    color: var(--primary-color);
}
/*Project section*/
#projects{
    height: auto;
    padding: 70px 9%;
    font-family: "Poppins", sans-serif;
}
.box-container-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.box-container-projects>div{
    background:var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/*blogs section*/
#blog{
    height: auto;
    padding: 70px 9%;
    font-family: "Poppins", sans-serif;
}
.box-container-blogs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}
.box-container-blogs>div{
    background: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box-blogs{
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary-color);
    text-align: center;
    justify-items: center;
}
#blog>div>a{
    color: var(--secondary-color);
}
#blog>div>a:hover{
    color: blue;
}

/*Contact Section*/
#contact{
    background: url("assets/images/greek-wallpaper.jpg");
    height: auto;
    margin: 0;
    padding: 70px 9%;
    font-family: "Poppins", sans-serif;

    justify-content: center;

    background-color: #dcdde1;
}
#contact>a:hover{
    color: var(--secondary-color);
}
/* marquee effect */
.marquee{
    display: inline-block;
    padding-left: 100%;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.marquee-top{
    animation: marquee-top 40s linear infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    color: var(--secondary-color);
    font-size: 150px;
}
.marquee-bottom{
    animation: marquee-bottom 40s linear infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    color: var(--darkgray-color);
    font-size: 130px;
}

@keyframes marquee-top {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-bottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
