.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
}
section{
    width: 100vw;
    height: 100vh;
}
nav {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    position: sticky;
    top: 0;
    left: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
}

.nav-links a:hover {
    background-color: black;
    color: white;
    border-radius: 15px ;
}
.social-icons a {
    transition: transform 0.3s ease;
}
.social-icons a:hover {
    transform: scale(1.5);
}


nav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    .nav-links, .social-icons {
        width: 100%;
        justify-content: space-between;
    }
    nav a {
        margin: 10px 0;
    }
}
#home{
    background: linear-gradient(-45deg, #f0f0f0, #c0c0c0, #ffffff, #d3d3d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#home>picture{
    position: absolute;
    left: 0;
    bottom: 0;
}
#home>div{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home>div>img{
    width: 100px;
    height: 100px;
}
#home>div>h1{
    font-size: 8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin: 0;
}
#home>div>h3{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/*About Me Section Styles*/
#about {
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: #000000;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#about-me {
    /*border: 1px solid red;*/
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #212124;

    position: relative;
    top: 75px;
}

.about-container-gallery-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.about-container-gallery-targets > div {
    border-radius: 15px;
    background-color: #212124;
}

@media (max-width: 1024px) {
    .about-container-gallery-targets {
        flex-direction: column;
        align-items: center;
    }
}

#gallery {
    position: relative;
    top: 112px;
    left: 16px;
}

#gallery > img {
    width: 500px;
    height: 350px;

}

#gallery > h3 {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#targets {
    list-style-type: none;
    padding: 10px;

    position: relative;
    top: 112px;
    left: -26px;
}
#targets>img{
    position: relative;
    left: 35px;
    top: 42px;
}
#targets>button{
    width: 150px;
    height: 35px;

    position: relative;
    left: 38px;
    top: 35px;

    background-color: blue;
    color: white;
    border-radius: 15px;
    border-color: blue;
}
.about-container > div {
    margin-bottom: 20px;
}
.about-container > div:last-child {
    margin-bottom: 0;
}

